@model UserAccountModel
@{
    ViewData["Title"] = "My Account";

    var subHeading = new SubHeadingModel { Title = ".", Subtitle = "." };

}

@if (SignInManager.IsSignedIn(User))
{
    subHeading.Title = "MY ACCOUNT";
    subHeading.Subtitle = "WELLCOME. " + @User.FindFirst("DisplayName").Value;
    <partial name="~/Views/Shared/Partials/Sections/_SubHeading.cshtml" model="@subHeading" />
    <div class="container">
        <p>
            <a asp-controller="Account" asp-action="LogOut">LOGOUT</a> - @User.Identity.Name
        </p>
            <div>
            @if (@Model.PhoneNumber != null)
            {
            <p>PhoneNumber: @Model.PhoneNumber </p>
            }
            @if (@Model.Company != null)
            {
                <p>Company: @Model.Company </p>
            }

            <p>Address: <br/>
                        @Model.FirstName @Model.LastName <br/>
                        @Model.StreetName<br/>
                        @Model.PostalCode @Model.City<br />
                </p>
                    @if (@Model.ImageName != null)
            {
                <p> <img src="~/Images/Profiles/@Model.ImageName" alt="Profile image" /> </p>
            }
            </div>

    </div>

}
else
{
    subHeading.Title = "MY ACCOUNT";
    subHeading.Subtitle = "Please login to access your account";
    <partial name="~/Views/Shared/Partials/Sections/_SubHeading.cshtml" model="@subHeading" />

}

